*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
  
.nav{
    background: black;
    color: white;
    font-family: sans-serif;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: baseline;
}

.nav-title{
    width: 30%;
    background: black;
    padding: 16px 40px 0px;
    text-align: center;
    font-size: 20px;
}

.nav-menu{
    width: 70%;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 10px 20px;
    color: #ccc;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
}

/* .nav-menu ul li{
    padding: 10px 20px;
    color: #ccc;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
} */

.nav-menu ul li:hover{
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width:640px) {
    .nav .nav-title{
        text-align: center;
        width: 100%;
    }
    .nav .nav-menu li {
        width: 100%;
        text-align: center;
    }
}