* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.nav {
    background-color: black;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}
.nav-title{
    color:white;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

















/* .nav-menu {
    width:70%
}

.nav-menu ul {
    display: ;
} */