* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.nav {
    background-color: darkgray;
    padding: 5px 20px;
}

















/* .nav-menu {
    width:70%
}

.nav-menu ul {
    display: ;
} */